
#footer{
  width: 100vw;
  background: yellow;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 50px;
  border-radius: 10px;
  justify-content: space-around;
}
#footer .footerBtn{
  background: blue;
  width: 80px;
  height: 50px;
}