
.body{
  width: calc(100vw - 30px);
    height: calc(100vh - 65px);
    position: absolute;
    top: 0;
    margin:15px;
    border-radius: 10px;
}

#footer{
  width: 100vw;
  background: yellow;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: space-around;
}
#footer .footerBtn{
  background: blue;
  width: 80px;
  height: 50px;
}