.day_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 50px;
}

.day{
    width: 49%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
    border-radius: 10px;
}

.day img{
    width: 100%;
    border-radius: 10px;
}
.text{
    margin-left: 5px;
}
.text > *{
    margin:0;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.day-overlay{
    background-color: #d4dad4;
    opacity: 0.5;
    position: absolute;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5)
}