.day_container{
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.day{
    width: 49%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.day img{
    width: 100%;
    border-radius: 10px;
}

.text > *{
    margin:0;
    font-size: 15px;
}