.day_container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
    padding-bottom: 50px;
}

.day{
    width: 49%;
    aspect-ratio: 1/1;
    margin-bottom: 10px;
}

.day img{
    width: 100%;
    border-radius: 10px;
}

.text > *{
    margin:0;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}