*{
  margin: 0;
}
#detail{
    height: 100vh;
    position: absolute;
    top: 0;
    text-align: center;
    padding-bottom: 50px;
}
h3{
    margin: 0;
}
p{
    margin: 0;
}
h1{
   margin: 15px 0;
   font-size: 2.2em;
}
#done{
   width: 200px;
   background: #00483D;
   border-radius: 10px;
   padding: 10px;
   font-weight: 900;
   color: white;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   margin-top: 10px;
}
#challenge_img{
    background: url("./den.PNG");
    width: 100vw;
    height: 30%;
    background-size: cover;
}
.challenge_text{
    padding: 0 15px;
}