.main_list{
    width: 100vw;
    margin-top: 80px;
    margin-bottom: 50px;
    min-height: 100vh;
    background-color: white;
}
.detail{
    margin-bottom: 60px;
}
.main_list a{
    display: block;
    padding:15px
}
.main_list a::after{
    border-bottom: 1px solid #e0dada;
    content: "";
    display: block;
}
h2{
    padding-bottom: 15px;
}
h4{
    padding: 10px 0;
}