.main_list{
    width: 100vw;
    height: calc(100vh - 130px);
    margin-top: 30px;
}
.detail{
    margin-bottom: 60px;
}
.main_list a{
    display: block;
    padding:15px
}
.main_list a::after{
    border-bottom: 1px solid #e0dada;
    content: "";
    display: block;
}
h2{
    padding-bottom: 15px;
}
h4{
    padding: 10px 0;
}