#navigation{
    position: fixed;
    top: 0;
    background: #e1ece1;
    height: fit-content;
    width: 100vw;
    text-align: center;
    display: flex;
    z-index: 1;
}

#navigation #nav_body{
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: black;
    font-family: bold;
    padding-top: 5px;

}

#burger_menu{
    width: 55px;
    height: 100%;
    background: url("./burger.png");
    position: absolute;
    top: 0;
    background-size: 90% 70%;
    background-repeat: no-repeat;
    background-position: center

}
#search_bar{
    width: 100%;
    position: absolute;
    height: 45px;
    background: #e1ece1;
    top: 34px;
}
#search{
    width: 90%;
    border-radius: 10px;
    height: 25px;
    margin-top: 5px;
    background: #e7eae7;
}