#navigation{
    position: fixed;
    top: 0;
    background: gray;
    height: fit-content;
    width: 100vw;
    margin-left: -15px;
    text-align: center;
    display: flex;
}

#navigation #nav_body{
    width: 100%;
    height: 30px;
    font-size: 15px;
    color: white;
    font-family: bold;
    padding-top: 5px;

}

#burger_menu{
    width: 55px;
    height: 100%;
    background: aqua;
    position: absolute;
    top: 0;

}
#search_bar{
    width: 100%;
    position: absolute;
    height: 45px;
    background: gray;
    top: 34px;
}
#search{
    width: 90%;
    border-radius: 10px;
    height: 25px;
    margin-top: 5px;
    background: lightgray;
}