#restart{
    position: fixed;
    bottom: 120px;
    transform: translateX(-50%);
    left: 50%;
    background: green;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
}
.percentage{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: bold;
    color: #000
}