.recipes_list{
    width: 100vw;
    height: calc(100vh - 130px);
    margin-top: 30px;
}
.recipes_list a{
    display: block;
    padding:15px
}
.recipes_list a::after{
    border-bottom: 1px solid black;
    content: "";
    display: block;
}